*/*.csv
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/venv
*.csv
*.so
*__pycache__/*
*/__pycache__/
*/__pycache__/*
*/utils/__pycache__/*
*.DS_Store

*.gpkg
.config
# */**/about/
march-machine-learning-mania-2026/input/MMasseyOrdinals.csv

# Local env/config
.env
.env.*