*/*.csv
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/venv
*/.venv/*

**/data/**
**/reports/**
# *.csv
*.so
*__pycache__/*
**/__pycache__/**
*/__pycache__/*
*/utils/__pycache__/*
*.DS_Store

*.gpkg
.config
# */**/about/
march-machine-learning-mania-2026/input/MMasseyOrdinals.csv

*/submissions/*
!march-machine-learning-mania-2026/submissions/stage2_refresh_market**.csv
